.submit-btn {
    cursor: pointer;
    background-color: $secondary-color;
}

h1 {
    color: $secondary-color;
}

.btn-contact-delete {
    border: none;
    background-color: #fff;
    color: #eb4034;
    font-size: 1.3rem;
    cursor: pointer;
}
