.registration-page{
    .is-danger{
        color:rgb(236, 30, 30);
    }
    input .input-field{
        font-size: 0.8rem;
    }

    .submit-btn { 
        background-color: $secondary-color;
    }
}