.registration-page{
    .is-danger{
        color:rgb(216, 46, 46);
    }
    input .input-field{
        font-size: 0.8rem;
    }

    .submit-btn { 
        background-color: $secondary-color;
    }
}