.incoming,
.outgoing {
    border-bottom: 1px solid #444;
    display: flex;
    align-items: center;
    div {
        width: 15%;
        margin-left: 3%;
    }
}

.incoming {
    color: green;
}

.outgoing {
    color: red;
}

.contacts {
    flex-grow: 1;
}

.symbol-transaction {
    font-size: 1.8rem;
}

.child-transaction-info {
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;

    h5 {
        margin-left: 5px;
    }
}
